@import "tailwindcss"; 
@plugin "daisyui";
@import "leaflet/dist/leaflet.css";

body{ 
    color: #363636;
    background-color: lightgray;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-marker-icon {
  margin-left: -12px !important;
  margin-top: -41px !important;
}
