@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  color: #363636;
}
:root {
  --background: #EFEFEF;
  --foreground: #000000;
  --font-sans: 'Roboto', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EFEFEF;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  color: var(--foreground);
}

.login-container { 
  min-width: 25%; 
  min-height: 60%;
  margin: 40px auto; 
  padding: 24px; 
  border-radius: 8px; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.confirm-button { 
  min-width: 100%; 
  margin: 40px auto; 
  padding: 10px; 
  background-color: #1DDACA;
  color: white;
  font-weight: bold;
  border-radius: 8px; 
}
.label { 
  display: block; 
  margin-bottom: 4px;
}
.input { 
  border-bottom: 1px solid #ddd;
  min-width: 100%;
  padding: 8px;
}
.title { 
  font: 1.5em sans-serif;
  padding-bottom: 16px;
body{
  padding:1rem;
}